<div class="container">
    <div class="row">
    <h4>Chicago Tech Projects Angular4 App Demo version 1.0 </h4>
        <p>Web Application built with Angular 4. The application demonstrates key Anjular JS basics including:</p>
        <ul>
            <li>Data Binding</li>
            <li>Routing</li>
            <li>Service Worker </li>
            <li>Angular Modules</li>
            <li>Data retrieval via Rest API</li>

        </ul>
    </div>
    <div class="row">
    <h2>Author Information</h2>
    <p>Design and code by Christine Brown</p>
    </div>
 </div>

