  <!--Navigation -->
  <nav class="navbar navbar-inverse bg-primary">
    <a class="navbar-brand" href="#">CTP: Favorite Things ToDo App</a>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav list-unstyled">
          <li class="nav-item active">
              <a class="nav-link" routerLink=" ">User Home</a>
          </li>
        
          <li class="nav-item">
              <a class="nav-link" routerLink="/app-activity">Activities </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/about">About </a>
          </li>
        </ul>
      </div>
    </nav>
<router-outlet></router-outlet>